<!-- <div>
  <h1>{{ title }}! </h1>
</div>

<app-mon-premier></app-mon-premier> -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="auth">auth</a></li>
      <li><a href="appareils">appareils</a></li>
    </ul>
  </div>
</nav> -->

<!-- 

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
     

    </ul>
</header>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">auth</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">appareils</a></li>
      <li routerLinkActive="active"><a routerLink="compte">Mes comptes</a></li>
    </ul>
  </div>
</nav> -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="auth">auth</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="appareils">appareils</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="compte">Mes comptes</a>
  </nav>
  <nav class="nav nav-pills flex-column flex-sm-row navbar-right">
    <p>Vous êtes connecté depuis : {{secondes}} </p>
  </nav>
</header>


<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>