<div class="col-xs-12">
    <h2>Mes appareil</h2>

    <p>Mis à jour : {{ lastUpdate | async  | date:'yy MMMM EEEE d' | uppercase | lowercase}}</p>
    <ul>
      <app-appareil *ngFor="let appareil of appareils; let i = index;" [appareilIndex]="i" [appareilName]="appareil.name" [appareilStatus]="appareil.status" [id]="appareil.id"></app-appareil>
      <!-- <app-appareil [appareilName]=appareilOne [appareilStatus]="'éteint'"></app-appareil>
      <app-appareil  [appareilName]=appareilTwo [appareilStatus]="'allumer'"></app-appareil>
      <app-appareil  [appareilName]=appareilThree [appareilStatus]="'éteint'"></app-appareil> -->
    </ul>

    <!-- property bindings []-->
    <!-- event binding  ()-->
    <button class="btn btn-success"  
      [disabled]="!isAuth"
      (click)="onAllumer()"
    >
      Tous allumer
    </button>
    <button class="btn btn-danger"  
    (click)="onEteindre()"
  >
    Tous eteindre
  </button>
</div>